<!-- ======= Sidebar ======= -->
{% load static %}
{% if request.user.is_authenticated %}
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="{% url 'dashboard' %}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'codecomponents' %}">
        <i class="bi bi-bezier"></i>
        <span>Code Components</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'rest_api' %}">
        <i class="bi bi-node-plus"></i>
        <span>REST APIs</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'aws_s3' %}">
        <i class="bi bi-cloud-arrow-down"></i>
        <span>AWS S3</span>
      </a>
    </li><!-- End Profile Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'segment_settings' %}">
        <i class="bi bi-server"></i>
        <span>Segment Settings</span>
      </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-heading">Settings</li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'profile_settings' %}">
        <i class="bi bi-gear"></i>
        <span>My Profile</span>
      </a>
    </li><!-- End F.A.Q Page Nav -->

  </ul>

</aside><!-- End Sidebar-->
{% endif %}