{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row mb-4">
  <!-- Card 1 -->
  <div class="col-md-10 offset-md-1">

    <div class="row mb-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">REST APIs</h5>
            <p class="card-text">Make your API calls to endpoint: <strong>https://tinysegment.aenv.site/api_fetch_code</strong></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock%}